.DS_Store
node_modules
/build
/.idea
/.svelte-kit
/dist
/package
/test-results
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
pnpm-lock.yaml
package-lock.json
yarn.lock
yarn-error.log
